<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav d-flex flex-grow-1">
                <li class="nav-item "><a class="nav-link" href="#" (click)="onSelect('recipe')">Recipes</a></li>
                <li class="nav-item "><a class="nav-link" href="#" (click)="onSelect('shopping-list')">Shopping List</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-right ">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle nav-link" role="button" id="manageMenu" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" appDropdown>Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="nav-item "><a class="nav-link" href="#">Save Date</a></li>
                        <li class="nav-item "><a class="nav-link" href="#">Fetch Date</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>