<div class="row">
    <div class="col-xs-12">
        <img style="max-height: 150px;" [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive">
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1>{{recipe.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" id="recipeMenu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true" appDropdown>Manage Recipe
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li class="nav-item "><a class="nav-link" href="#">Add into shopping list</a></li>
                    <li class="nav-item "><a class="nav-link" href="#">Edit Recipe</a></li>
                    <li class="nav-item "><a class="nav-link" href="#">Delete Recipe</a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        {{recipe.description}}
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        ingredients
    </div>
</div>